<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout :: header" ></head>
<title>Project Management Tool</title>
<body>
	<nav th:replace = "layout :: navbar"></nav>
<div class="container">
<h3>Project Dash Board</h3>
<a class="text-primary" th:text="${version}"></a>
	<hr>
	<h4> Currents Projects </h4>	
	<div class="row">
		<div class="col-md-6">			
			<table class="table table-bordered table-striped">
			
				<thead class="thead-dark">
					<tr>
						<th>Project Name</th>
						<th>Project Stage</th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="aProject : ${projects}">
						<td th:text="${aProject.name}"/>
						<td th:text="${aProject.stage}"/>
					</tr>
				</tbody>	
			</table>
		</div>
		<div class="col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
			
			<script>
				var chartData ="[[${statusCount}]]"
			</script>
			
		</div>
	</div>
	
</div>
	
<div class="container">		
	<h4> Current Employees </h4>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
			
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Number of Projects Working</th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="anEmployeeProjectCount : ${employeeProjectCountList}">
						<td th:text="${anEmployeeProjectCount.firstName}"/>
						<td th:text="${anEmployeeProjectCount.lastName}"/>
						<td th:text="${anEmployeeProjectCount.projectCount}"/>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>
</div>	
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>	
</body>
</html>